In [7]:
import sqlite3
import os

In [8]:
os.getcwd()

'C:\\Puneet\\IBM\\Training\\python'

In [10]:
conn = sqlite3.connect('database.db')

In [12]:
c = conn.cursor()

In [13]:
c.execute("""create table employees(first text, second text, pay integer )""")

In [15]:
conn.commit()

In [21]:
c.execute("select * from employees")
c.fetchall()

[]

In [25]:
with conn:
    c.execute("""insert into employees values(:first,:last,:pay)""",{'first':'puneet','last':'bansal','pay':10000})
c.execute("select * from employees")
c.fetchall()

[('puneet', 'bansal', 10000),
 ('puneet', 'bansal', 10000),
 ('puneet', 'bansal', 10000)]

In [26]:
c.fetchall()

[]

In [28]:
c.execute("select * from employees")

In [32]:
c.fetchone()